<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("bowl.title")} <small>${i18n("bowl.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("bowl.title")}</a></li>
			<li class="active">${i18n("bowl.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="container-fluid">
			<div class="row-fluid form-horizontal">

				<h3>Objektmodifikation bestätigen</h3>

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Identifier</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.id!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					<label class="col-xs-2 control-label" for="textinput">Version</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.version!"0"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Status</label>
					<div class="col-xs-3">
						<#if bowl??>
							<p class="form-control-static">${bowl.statusText!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					<div class="col-xs-1">
						<#if bowl??>
							<p class="form-control-static">${bowl.statusId!"0"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Holzart</label>
					<div class="col-xs-3">
						<#if bowl??>
							<p class="form-control-static">${bowl.timberName!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					<div class="col-xs-1">
						<#if bowl??>
							<p class="form-control-static">${bowl.timberId!"0"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Ordinalnummer</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.ordinal!"1"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					<label class="col-xs-2 control-label" for="textinput">Bildname</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.imageName!"thomas_pildner_000.jpg"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Herstellungsjahr</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.year!"2017"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Preis</label>
					<div class="col-xs-4">
						<#if bowl??>
							<p class="form-control-static">${bowl.price!"100.00"}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Herkunft</label>
					<div class="col-xs-10">
						<#if bowl??>
							<p class="form-control-static">${bowl.origin!?replace("~", " ")}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Kommentar</label>
					<div class="col-xs-10">
						<#if bowl??>
							<p class="form-control-static">${bowl.comment?replace("~", " ")}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<form method="post" action="/superbowl/modifyBowlCompletion">
					<!-- Button (Double) -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="buttonOK"></label>
						<div class="col-xs-10">
							<button id="buttonConfirmModifyBowl" name="buttonOK" type="submit" class="btn btn-success btn-sm">${i18n("button.ok")}</button>
							<a class="btn btn-primary btn-sm" href="/superbowl/modifyBowl?bowlId=${bowl.id}&statusCode=${statusCode}" role="button">${i18n("button.back")}</a>
							<a class="btn btn-warning btn-sm" href="/superbowl/bowl" role="button">${i18n("button.cancel")}</a>
							<a class="btn btn-info btn-sm" role="button" href="#" data-target="#editBowlModHelpModal">${i18n("button.help")}</a>
						</div>
					</div>
				</form>

			</div>
			<!-- ./row-fluid -->
		</div>
		<!-- ./container-fluid -->

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>