<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Error. Bad Request.">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    400 Bad Request</h2>
                <div class="error-details">
                    Sorry, an error has occured. Bad client request occurred!
                </div>
            </div>
        </div>
    </div>
</div>
</@layout.superbowlLayout>