<div class="sidebar-wrapper">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	     Left side column. contains the logo and sidebar
	     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<aside class="main-sidebar sidebar-offcanvas">

		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			  Sidebar: style can be found in sidebar.less
			  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<section class="sidebar">

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				  Sidebar user panel (optional)
				  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="/assets/images/user/thomas-pildner.jpg" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
					<p>${i18n("header.artist")}</p>
					<!-- Link zu Holz in Form -->
					<a href="http://www.thomas-pildner.de" target="_blank"><i class="fa fa-globe text-success"></i>Holz in Form</a>
				</div>
			</div>

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				  Search Form (Optional)
				  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
	      <!-- /.search form -->

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				  Sidebar Menu
				  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<ul class="sidebar-menu">
				<li class="header">Objekte, Kunden und Daten</li>
				<!-- Optionally, you can add icons to the links -->
				<li><a href="/superbowl/exhibition"><i class="fa fa-university" aria-hidden="true"></i> <span>Ausstellungen</span></a></li>
				<li><a href="/superbowl/botanicSystem"><i class="fa fa-info"></i> <span>Botanisches System</span></a></li>
				<li><a href="/superbowl/geoRegion"><i class="fa fa-globe"></i> <span>Geo Region</span></a></li>
				<li class="treeview">
					<a href="#"><i class="fa fa-tree"></i> <span>Holz</span>
			            <span class="pull-right-container">
			              <i class="fa fa-angle-left pull-right"></i>
			            </span>
					</a>
					<ul class="treeview-menu">
						<li><a href="/superbowl/timber"><i class="fa fa-tree"></i> <span>Holzarten</span></a></li>
						<li><a href="/superbowl/timberOrigin"><i class="fa fa-location-arrow"></i> <span>Rohmaterial</span></a></li>
						<li><a href="http://www.holzwurm-page.de/holzarten/laubholz.htm" target="_blank"><i class="fa fa-book"></i> <span>Holzlexikon</span></a></li>
					</ul>
				</li>
				<li><a href="/superbowl/customer"><i class="fa fa-user-plus"></i> <span>Kunden</span></a></li>
				<!--
				<li class="active"><a href="/superbowl/bowl"><i class="fa fa-trophy"></i> <span>Objekte</span></a></li>
				-->
				<li class="treeview">
					<a href="#"><i class="fa fa-link"></i> <span>Objekte</span>
			            <span class="pull-right-container">
			              <i class="fa fa-angle-left pull-right"></i>
			            </span>
					</a>
					<ul class="treeview-menu">
						<li><a href="/superbowl/bowl"><i class="fa fa-tree"></i> <span>Verwaltung</span></a></li>
						<li><a href="/superbowl/portfolioBowl"><i class="fa fa-picture-o"></i> <span>Portfolio</span></a></li>
					</ul>
				</li>
				<li><a href="/superbowl/status"><i class="fa fa-shield"></i> <span>Status</span></a></li>
				<!--
				<li>
					<a href="/calendar/">
						<i class="fa fa-calendar"></i> <span>Kalender</span>
					</a>
				</li>
				-->
			</ul>
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>
	<!-- /.main-sidebar -->

</div>
<!-- ./sidebar-wrapper -->