<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("botanic.title")}
			<small>${i18n("botanic.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> ${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("botanic.title")}</a></li>
			<li class="active">${i18n("botanic.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div>

			<div class="box">

				<!-- Box Header -->
				<div class="box-header with-border">
					<h3 class="box-title">${i18n("botanic.title.box")}</h3>

					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<span class="label label-primary">5</span>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->

				<!-- Box Body -->
				<div class="box-body table-responsive">

					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>${i18n("botanic.table.header.one")}</th>
								<th>${i18n("botanic.table.header.two")}</th>
								<th>${i18n("botanic.table.header.three")}</th>
								<th>${i18n("botanic.table.header.four")}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>BORAGINALES</td>
								<td>Boraginaceae</td>
								<td>Cordioideae</td>
							</tr>
							<tr>
								<td>2</td>
								<td>CELASTRALES</td>
								<td>Aquifoliaceae</td>
								<td></td>
							</tr>
							<tr>
								<td>3</td>
								<td>CELASTRALES</td>
								<td>Celastraceae</td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td>CELASTRALES</td>
								<td>Cupressaceae</td>
								<td></td>
							</tr>
							<tr>
								<td>5</td>
								<td>CELASTRALES</td>
								<td>Taxaceae</td>
								<td></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>${i18n("botanic.table.header.one")}</th>
								<th>${i18n("botanic.table.header.two")}</th>
								<th>${i18n("botanic.table.header.three")}</th>
								<th>${i18n("botanic.table.header.four")}</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					${i18n("botanic.table.footer.text")}
				</div>
				<!-- box-footer -->
			</div>
			<!-- /.box -->
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

</@layout.superbowlLayout>
