<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("botanic.system.title")} <small>${i18n("botanic.system.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("botanic.system.title")}</a></li>
			<li class="active">${i18n("botanic.system.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="container-fluid">
			<div class="row-fluid form-horizontal">

				<h3>Neuerfassung Botanisches System bestätigen</h3>

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">OrderIndex</label>
					<div class="col-xs-1">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.orderIndex!""}</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">FamilyIndex</label>
					<div class="col-xs-1">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.familyIndex!""}</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">SubFamilyIndex</label>
					<div class="col-xs-1">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.subFamilyIndex!""}</p>
						</#if>
					</div>
					
					<label class="col-xs-2 control-label" for="textinput">Ordinal</label>
					<div class="col-xs-1">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.ordinal!""}</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Botanische Ordnung</label>
					<div class="col-xs-2">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.order!""}</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Botanische Familie</label>
					<div class="col-xs-2">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.family!""}</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Botanische Unterfamilie</label>
					<div class="col-xs-2">
						<#if botanicSystem??>
							<p class="form-control-static">${botanicSystem.subFamily!""}</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<form method="post" action="/superbowl/registerBotanicSystemCompletion">
					<!-- Button (Double) -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="buttonBotanicSystemConirmationOK"></label>
						<div class="col-xs-10">
							<button id="buttonConfirmBotanicSystem" name="buttonBotanicSystemConirmationOK" type="submit" class="btn btn-success btn-sm">${i18n("button.ok")}</button>
							<a class="btn btn-primary btn-sm" href="/superbowl/registerBotanicSystem?emptyTable=${botanicSystem.emptyTable}" role="button">${i18n("button.back")}</a>
							<a class="btn btn-warning btn-sm" href="/superbowl/botanicSystem" role="button">${i18n("button.cancel")}</a>
						</div>
					</div>
				</form>

			</div>
			<!-- ./row-fluid -->
		</div>
		<!-- ./container-fluid -->

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>