<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<#-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<#-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("botanic.system.title")} <small>${i18n("botanic.system.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("botanic.system.title")}</a></li>
			<li class="active">${i18n("botanic.system.title.text")}</li>
		</ol>
	</section>

	<#-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<#-- Your Page Content Here -->

		<div class="container-fluid">
		
			<div class="row-fluid">

				<form method="post" action="/superbowl/registerBotanicSystemConfirmation" class="form-horizontal">
				
					<#if (violations)??>
						<div class="text-warning">
							<ul>
								<#list validation.violations as violation>
									${i18n(violation)}
								</#list>
							</ul>
						</div>
					</#if>
					
					<fieldset>

						<#-- Form Name -->
						<legend>Ersterfassung Botanisches System</legend>

						<#-- =========================
							  Ordinalnummer und Ordnung
							  ========================= -->
						<div class="form-group">						
							
							<#-- ================================
							  	  Ordinal number as readonly field
							  	  ================================ -->	
							<label class="col-xs-1 control-label" for="textinput">Ordinalnummer</label>
							<div class="col-xs-2">
								<#if bsOrdinal?has_content>
									<input id="ordinal" name="ordinal" placeholder=""
										class="form-control input-xs" type="number" readonly
										value=${bsOrdinal}>
										<span class="help-block">Ordinalnummer</span>
									</input>
								<#else>
									<input id="ordinal" name="ordinal" placeholder=""
										class="form-control input-xs" type="number" readonly
										value=${botanicSystemMaxOrdinal}>
										<span class="help-block">Ordinalnummer</span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-2 -->
							
							<#-- ==========================
							  	  Indices as readonly fields
							  	  ========================== -->						
							<label class="col-xs-1 control-label" for="textinput">OrderIndex</label>
							<div class="col-xs-2">
								<#if bsOrderIndex?has_content>
									<input id="orderIndex" name="orderIndex" placeholder=""
										class="form-control input-xs" type="text" value=${bsOrderIndex} readonly>
										<span class="help-block"></span>
									</input>
								<#else>
									<input id="orderIndex" name="orderIndex" placeholder=""
										class="form-control input-xs" type="text" readonly>
										<span class="help-block"></span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-1 -->
											
							<label class="col-xs-1 control-label" for="textinput">FamilyIndex</label>
							<div class="col-xs-2">
								<#if bsFamilyIndex?has_content>
									<input id="familyIndex" name="familyIndex" placeholder=""
										class="form-control input-xs" type="text" value=${bsFamilyIndex} readonly>
										<span class="help-block"></span>
									</input>
								<#else>
									<input id="familyIndex" name="familyIndex" placeholder=""
										class="form-control input-xs" type="text" readonly>
										<span class="help-block"></span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-1 -->
											
							<label class="col-xs-1 control-label" for="textinput">SubFamilyIndex</label>
							<div class="col-xs-2">
								<#if bsSubFamilyIndex?has_content>
									<input id="subFamilyIndex" name="subFamilyIndex" placeholder=""
										class="form-control input-xs" type="text" value=${bsSubFamilyIndex} readonly>
										<span class="help-block"></span>
									</input>
								<#else>
									<input id="subFamilyIndex" name="subFamilyIndex" placeholder=""
										class="form-control input-xs" type="text" readonly>
										<span class="help-block"></span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-1 -->
							
							<#-- ========================
							  	  EmptyTable as hidden field
							  	  ======================== -->
							<label class="col-xs-1 control-label" for="textinput"></label>
							<div class="col-xs-1">
								<#if bsEmptyTable?has_content>
									<input id="emptyTable" name="emptyTable" placeholder=""
										class="form-control input-xs" type="hidden" value=${bsEmptyTable} readonly>
										<span class="help-block"></span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-1 -->
											
						</div>
						<#-- ./form-group -->

						<#-- =================================
							  Ordnung, Familie und Unterfamilie
							  ================================= -->
						<div class="form-group">
												
							<label class="col-xs-1 control-label" for="textinput">Ordnung</label>
							<div class="col-xs-3">
								<#if bsOrder?has_content>
									<input id="order" name="order" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35" 
										value=${bsOrder}>
										<span class="help-block">Botanische Ordnung (max. 35 Ziffern)</span>
									</input>
								<#else>
									<input id="order" name="order" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35">
										<span class="help-block">Botanische Ordnung (max. 35 Ziffern)</span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-3 -->
						
							<label class="col-xs-1 control-label" for="textinput">Familie</label>
							<div class="col-xs-3">
								<#if bsFamily?has_content>
									<input id="family" name="family" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35" 
										value=${bsFamily}>
										<span class="help-block">Botanische Familie (max. 35 Ziffern)</span>
									</input>
								<#else>
									<input id="family" name="family" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35">
										<span class="help-block">Botanische Familie (max. 35 Ziffern)</span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-3 -->
							
							<label class="col-xs-1 control-label" for="textinput">Unterfamilie</label>
							<div class="col-xs-3">		
								<#if bsSubFamily?has_content>	
									<input id="subFamily" name="subFamily" placeholder="Optional" 
										class="form-control input-xs input-optional"	type="text" maxlength="35"
										value=${bsSubFamily}>
										<span class="help-block">Botanische UnterfamilieFamilie (max. 35 Ziffern)</span>
									</input>
								<#else>
									<input id="subFamily" name="subFamily" placeholder="Optional" 
										class="form-control input-xs input-optional" type="text" maxlength="35">
										<span class="help-block">Botanische UnterfamilieFamilie (max. 35 Ziffern)</span>
									</input>
								</#if>
							</div>
							<#-- ./col-xs-3 -->
							
						</div>
						<#-- ./form-group -->

						<#-- ========================
							  Buttons
							  ======================== -->
						<div class="form-group">
							<label class="col-xs-1 control-label" for="buttonBotanicSystemOK"></label>
							<div class="col-xs-11">
								<button id="buttonSaveBotanicSystem" name="buttonBotanicSystemOK" type="submit" class="btn btn-success btn-sm">${i18n("button.persist")}</button>
								<a class="btn btn-primary btn-sm" href="/superbowl/botanicSystem?emptyTable=${bsEmptyTable}" role="button">${i18n("button.back")}</a>
								<a class="btn btn-warning btn-sm" href="/superbowl" role="button">${i18n("button.cancel")}</a>
								<a class="btn btn-info btn-sm" href="#" role="button" data-target="#registerBotanicSystemHelpModal">${i18n("button.help")}</a>
							</div>
						</div>
						<!-- ./form-group -->

					</fieldset>
					<#-- ./fieldset -->
				</form>
				<#-- ./form -->

			</div>
			<#-- ./row-fluid -->
		</div>
		<#-- ./container-fluid -->

	</section>
	<#-- ./content -->
</div>
<#-- /.content-wrapper --> 

</@layout.superbowlLayout>

