<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("timber.title")} <small>${i18n("timber.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("timber.title")}</a></li>
			<li class="active">${i18n("timber.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="container-fluid">
		
			<div class="row-fluid form-horizontal">

				<h3>Neuerfassung Holzart bestätigen</h3>

				<div class="form-group">
				
					<label class="col-xs-2 control-label" for="textinput">GeoRegion</label>
					<div class="col-xs-3">
						<#if timber??>
							<p class="form-control-static">${timber.geoRegionName!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<div class="col-xs-1">
						<#if timber??>
							<p class="form-control-static">${timber.geoRegionId!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<div class="col-xs-6"></div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Botanisches System</label>
					<div class="col-xs-3">
						<#if timber??>
							<p class="form-control-static">${timber.botanicSystemOrder!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<div class="col-xs-3">
						<#if timber??>
							<p class="form-control-static">${timber.botanicSystemFamily!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<div class="col-xs-3">
						<#if timber??>
							<p class="form-control-static">${timber.botanicSystemSubFamily!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<div class="col-xs-1">
						<#if timber??>
							<p class="form-control-static">${timber.botanicSystemId!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Holzart</label>
					<div class="col-xs-10"></div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Index</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.index!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<label class="col-xs-2 control-label" for="textinput">Type</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.type!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>
					
					<label class="col-xs-2 control-label" for="textinput">Code</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.code!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Name</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.name!"N.A."}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Bildname</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.imageName!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Akademischer Name</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.academicName!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Rohdichte</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.grossDensity!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Zugfestigkeit</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.tensileStrength!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Biegefestigkeit</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.burstStrength!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Druckfestigkiet</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.bendingStrength!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Scherfestigkeit</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.shearStrength!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Brinell Härte 1</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.brinellHardnessOne!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Brinell Härte 2</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.brinellHardnessTwo!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Tangentialschwund</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.tangentShrinkage!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Radialschwund</label>
					<div class="col-xs-2">
						<#if timber??>
							<p class="form-control-static">${timber.radialShrinkage!""}</p>
						<#else>
							<p class="form-control-static">N.A.</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<form method="post" action="/superbowl/registerTimberCompletion">
					<!-- Button (Double) -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="buttonTimberConfirmationOK"></label>
						<div class="col-xs-10">
							<button id="buttonConfirmTimber" name="buttonTimberConfirmationOK" type="submit" class="btn btn-success btn-sm">${i18n("button.ok")}</button>
							<a class="btn btn-primary btn-sm" href="/superbowl/registerTimber?emptyTable=${timber.emptyTable}&geoRegionCode=${timber.geoRegionCode}&botanicSystemOrder=${timber.botanicSystemOrder}&botanicSystemFamily=${timber.botanicSystemFamily}&botanicSystemSubFamily=${timber.botanicSystemSubFamily}" role="button">${i18n("button.back")}</a>
							<a class="btn btn-warning btn-sm" href="/superbowl/timber" role="button">${i18n("button.cancel")}</a>
							<a class="btn btn-info btn-sm" href="#" role="button">${i18n("button.help")}</a>
						</div>
					</div>
				</form>

			</div>
			<!-- ./row-fluid -->
		</div>
		<!-- ./container-fluid -->

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>