<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("status.title")} <small>${i18n("status.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("status.title")}</a></li>
			<li class="active">${i18n("status.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="container-fluid">
			<div class="row-fluid">

				<form method="post" action="/superbowl/registerStatusConfirmation"
					class="form-horizontal">

					<#if (violations)??>
						<div class="text-warning">
							<ul>
								<#list validation.violations as violation>
									${i18n(violation)}
								</#list>
							</ul>
						</div>
					</#if>

					<fieldset>

						<!-- Form Name -->
						<legend>Statusregistrierung</legend>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-xs-2 control-label" for="textinput">Index</label>
							<div class="col-xs-2">
								<input id="index" name="index" placeholder="Pflichtfeld"
									class="form-control input-xs" type="text" value=${statusMaxIndex} readonly>
									<span	class="help-block">Index</span>
								</input>
							</div>
							<div class="col-xs-8">Nur zur Information!</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-xs-2 control-label" for="textinput">Code</label>
							<div class="col-xs-2">
								<#if statusCode?has_content>
									<input id="code" name="code" placeholder="Optional"
										class="form-control input-xs input-mandatory" type="text" maxlength="4" value="${statusCode}">
										<span class="help-block">Code (4-stellig)</span>
									</input>
								<#else>
									<input id="code" name="code" placeholder="Optional"
										class="form-control input-xs input-mandatory" type="text" maxlength="4">
										<span class="help-block">Code (4-stellig)</span>
									</input>
								</#if>
							</div>
							<label class="col-xs-2 control-label" for="textinput">Statustext</label>
							<div class="col-xs-6">
								<#if statusText?has_content>
									<input id="text" name="text" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35" value="${statusText}">
										<span class="help-block">Text (max. 35 Zeichen)</span>
									</input>
								<#else>
									<input id="text" name="text" placeholder="Pflichtfeld"
										class="form-control input-xs input-mandatory" type="text" maxlength="35">
										<span class="help-block">Text (max. 35 Zeichen)</span>
									</input>
								</#if>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-xs-2 control-label" for="textinput">Kommentar</label>
							<div class="col-xs-10">
								<#if statusComment?has_content>								
									<input id="comment" name="comment" placeholder="Optional"
										class="form-control input-xs input-optional" type="text" maxlength="128" value="${statusComment}">
										<span class="help-block">Kommentar (max. 128 Zeichen)</span>
									</input>
								<#else>								
									<input id="comment" name="comment" placeholder="Optional"
										class="form-control input-xs input-optional" type="text" maxlength="128">
										<span class="help-block">Kommentar (max. 128 Zeichen)</span>
									</input>
								</#if>
							</div>
						</div>

						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-xs-2 control-label" for="buttonStatusOK"></label>
							<div class="col-xs-10">
								<button id="buttonSaveStatus" name="buttonStatusOK" type="submit" class="btn btn-success btn-sm">${i18n("button.persist")}</button>
								<a class="btn btn-warning btn-sm" href="/superbowl/status" role="button">${i18n("button.cancel")}</a>
							</div>
						</div>

					</fieldset>
					<!-- ./fieldset -->
				</form>
				<!-- ./form -->

			</div>
			<!-- ./row-fluid -->
		</div>
		<!-- ./container-fluid -->

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>