<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("status.title")} <small>${i18n("status.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("status.title")}</a></li>
			<li class="active">${i18n("status.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="container-fluid">
			<div class="row-fluid form-horizontal">

				<h3>Statusregistrierung bestätigen</h3>

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Index</label>
					<div class="col-xs-4">
						<#if status??>
							<p class="form-control-static">${status.index!"0"}</p>
						</#if>
					</div>

					<label class="col-xs-2 control-label" for="textinput">Code</label>
					<div class="col-xs-4">
						<#if status??>
							<p class="form-control-static">${status.code!"N.A."}</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Statustext</label>
					<div class="col-xs-10">
						<#if status??>
							<p class="form-control-static">${status.text!"N.A."}</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<div class="form-group">

					<label class="col-xs-2 control-label" for="textinput">Kommentar</label>
					<div class="col-xs-10">
						<#if status??>
							<p class="form-control-static">${status.comment!"N.A."}</p>
						</#if>
					</div>

				</div>
				<!-- ./form-group -->

				<form method="post" action="/superbowl/registerStatusCompletion">
					<!-- Button (Double) -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="buttonOK"></label>
						<div class="col-xs-10">
							<button id="buttonConfirmStatus" name="buttonOK" type="submit" class="btn btn-success btn-sm">Bestätigen</button>
							<a class="btn btn-info btn-sm" href="/superbowl/registerStatus?statusIndex=${status.index}&statusCode=${status.code}&statusText=${status.text}&statusComment=${status.comment}" role="button">Zurück</a>
							<a class="btn btn-warning btn-sm" href="/superbowl/status" role="button">Abbrechen</a>
						</div>
					</div>
				</form>

			</div>
			<!-- ./row-fluid -->
		</div>
		<!-- ./container-fluid -->

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>