<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home"> <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("timber.origin.title")} <small>${i18n("timber.origin.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>
					${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("timber.origin.title")}</a></li>
			<li class="active">${i18n("timber.origin.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->
	
		<#assign lEmptyTableTrue="true">
		<#assign lEmptyTableFalse="false">
		<#assign lGeoRegionCode="">	
		<#assign lTimberCode="">

		<#if timberorigins?size==0>
		
			<div class="row-fluid">
				<h4>Es wurden ${timberorigins?size} Eintr&auml;ge zur Herkunft der Rohh&ouml;lzer in der Datenbank gefunden!</h4>
			</div>
		
			<div class="row-fluid"><br/></div>
		
			<div class="row-fluid">
				<a class="btn btn-primary pull-left" href="/superbowl/registerTimberOrigin?emptyTable=${lEmptyTableTrue}&geoRegionCode=${lGeoRegionCode}&timberCode=${lTimberCode}" role="button">${i18n("timber.origin.register")} ${i18n("timber.origin.title")}</a>
			</div>
		
		<#else>	

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				Box
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="box box-solid box-default">

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Box Header
					~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-header with-border">
					<h3 class="box-title">${i18n("timber.origin.title.box")}</h3>

					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<span class="label label-primary">${timberorigins?size}</span>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  			Box Body
		  			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-body table-responsive">					
						
					<table id="superbowlDataTable" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>${i18n("timber.origin.table.header.zero")}</th>
								<th>${i18n("timber.origin.table.header.one")}</th>
								<th>${i18n("timber.origin.table.header.two")}</th>
								<th>${i18n("timber.origin.table.header.three")}</th>
								<th>${i18n("timber.origin.table.header.four")}</th>
								<th>${i18n("timber.origin.table.header.five")}</th>
								<th>${i18n("timber.origin.table.header.six")}</th>
							</tr>
						</thead>
						<tfoot></tfoot>
						<tbody>
							<#list timberorigins as timberorigin>
							<tr>
								<td>${timberorigin.index}</td>
								<td>${timberorigin.timber.name}</td>
								<td>${timberorigin.city}</td>
								<td>${timberorigin.location}</td>
								<td>${timberorigin.locationText}</td>
								<td>${timberorigin.cutdown}</td>
								<td>${timberorigin.comment}</td>
							</tr>
							</#list>
						</tbody>
					</table>						
			
				</div>
				<!-- /.box-body -->
	
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Box Footer
					~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-footer">
					${i18n("timber.origin.table.footer.text")}
				</div>
				<!-- box-footer -->
					
			</div>
			<!-- /.box -->
			
			<#if timberorigins?size != 0>

				<form method="post" action="/superbowl/registerTimberOrigin?emptyTable=${lEmptyTableFalse}&geoRegionCode=${lGeoRegionCode}&timberCode=${lTimberCode}">
					<div class="form-group">
						<div class="col-xs-10">
							<button id="buttonRegisterTimberOrigin" name="buttonRegisterTimberOriginOK" type="submit" class="btn btn-sm btn-primary">${i18n("timber.origin.register")} ${i18n("timber.origin.title")}</button>
						</div>
						<label class="col-xs-2 control-label" for="buttonRegisterTimberOriginOK"></label>
					</div>
				</form>
				
			</#if>
			
		</#if>

	</section>
	<!-- ./content -->
</div>
<!-- /.content-wrapper --> </@layout.superbowlLayout>