<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("exhibitions.title")}
			<small>${i18n("exhibitions.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> ${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("exhibitions.title")}</a></li>
			<li class="active">${i18n("exhibitions.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="row-fluid">

			<h3 class="control-sidebar-heading">Ausstellungen</h3>
			<ul class="control-sidebar-menu">
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2016</h4>

							<p>Englische Kirche, Kulturzentrum, Bad Homburg v.d.H.<br>Einzelausstellung "Metamorphosen eines Baumes"</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2015</h4>

							<p>museum angewandte kunst, Frankfurt a.M.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2015</h4>

							<p>KUNSTKONTOR im Spitäle, Würzburg</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2015</h4>

							<p>KUNSTWERK WERKKUNST Schloss Reinbek, bei Hamburg</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2015</h4>

							<p>8. Friedrichsdorfer Künstlertage</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2015</h4>

							<p>Amthof-Galerie, Am Amthof 13, Bad Camberg</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2014</h4>

							<p>museum angewandte kunst, Frankfurt a.M.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2014</h4>

							<p>M14  Verkaufsausstellung für Kunsthandwerk in der Historischen Villa Metzler, Frankfurt a.M.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2014</h4>

							<p>8. Bad Homburger KunstWerkStadt</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2014</h4>

							<p>ART GALLERY KunstZeitRaum 13, Bad Homburg v.d.H.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2013</h4>

							<p>ART GALLERY KunstZeitRaum 13, Bad Homburg v.d.H.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="menu-icon fa fa-eye bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">2012</h4>

							<p>7. Bad Homburger KunstWerkStadt</p>
						</div>
					</a>
				</li>
			</ul>

		</div>
		<!--  ./row-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

</@layout.superbowlLayout>
