<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.superbowlLayout "Superbowl Home">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Content Wrapper. Contains page content
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="content-wrapper">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Content Header (Page header)
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content-header">
		<h1>
			${i18n("software.title")}
			<small>${i18n("software.title.text")}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> ${i18n("breadcrumb.home")}</a></li>
			<li><a href="#">${i18n("software.title")}</a></li>
			<li class="active">${i18n("software.title.text")}</li>
		</ol>
	</section>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		  Main page content
		  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<section class="content">

		<#if softwares?size == 0>
		
			<div class="row-fluid">
				<h4>Es wurden ${softwares?size} Software-Einträge in der Datenbank gefunden!</h4>
			</div>
		
			<div class="row-fluid"><br/></div>
		
			<div class="row-fluid">
				<a class="btn btn-default pull-left" href="/superbowl/registerSoftware" role="button">${i18n("software.register")} ${i18n("software.title")}</a>
			</div>
		
		<#else>

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				Box
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="box box-solid box-default">

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					  Box Header
					  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-header with-border">
					<h3 class="box-title">${i18n("software.title.box")}</h3>

					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<span class="label label-primary">${softwares?size}</span>
					</div>
					<!-- /.box-tools -->
					
				</div>
				<!-- /.box-header -->

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Box Body
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-body table-responsive">
				
					<table id="superbowlDataTable" class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>${i18n("software.table.header.one")}</th>
								<th>${i18n("software.table.header.two")}</th>
								<th>${i18n("software.table.header.three")}</th>
								<th>${i18n("software.table.header.four")}</th>
								<th>${i18n("software.table.header.five")}</th>
								<th>${i18n("software.table.header.six")}</th>
							</tr>
						</thead>
						</thead>
						<tfoot></tfoot>
						<tbody>
							<#list softwares as software>
								<tr>
									<td>${software.vendor}</td>
									<td>${software.name}</td>								
									<#if software.url?has_content>
										<td><a href="${software.url}" target="_blank">${software.url}</a></td>
									<#else>
										<td>N.A.</td>
									</#if>
									<td>${software.versionnumber}</td>
									<td>${software.type}</td>
									<td>${software.description}</td>
								</tr>
							</#list>
						</tbody>
						<!-- ./tbody -->
					</table>
					<!-- ./table -->
				
				</div>
				<!-- /.box-body -->

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Box Footer
					~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="box-footer">
					${i18n("software.table.footer.text")}
				</div>
				<!-- box-footer -->

			</div>
			<!-- /.box -->
			<!--
			<#if softwares?size != 0>

				<form method="post" action="/superbowl/registerSoftware">
					<div class="form-group">
						<div class="col-xs-10">
							<button id="buttonRegisterSoftware" name="buttonRegisterSoftwareOK" type="submit" class="btn btn-primary btn-sm">${i18n("software.register")} ${i18n("software.title")}</button>
						</div>
						<label class="col-xs-2 control-label" for="buttonRegisterSoftwareOK"></label>
					</div>
				</form>
				
			</#if>
			-->
		
		</#if>
		
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

</@layout.superbowlLayout>
